<div class="main">
    <div class="categories">
        <div class="breadcrumb">
            <div class="breadcrumb_wrap">
                <h1>COLLECTIONS</h1>
                 <p><a routerLink="/home">Home</a> > <span>Collections</span></p>
            </div>
        </div>
        <div class="categories_content">
            <div class="categories_titles">
                Collections
            </div>
            <div class="categories_tag_container">
                <div class="category_tag_displayer">
                    <img class="category_img" (click)="OnCategoryClick('beauty')" src="assets/imgs/beauty_img.jpg">
                    <strong>BEAUTY</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img" (click)="OnCategoryClick('electronic')" src="assets/imgs/electronic_img.jpg">
                    <strong>ELECTRONIC</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img" (click)="OnCategoryClick('fashion')" src="assets/imgs/fashion_img.jpg">
                    <strong>FACTIONS</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img" (click)="OnCategoryClick('furniture')" src="assets/imgs/furniture_img.jpg">
                    <strong>FURNITURE</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img"  (click)="OnCategoryClick('outdoor')"src="assets/imgs/outdoor_img.jpg">
                    <strong>OUTDOOR</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>
            </div>
        </div>
    </div>
</div>
