<header>
    <div class="info_container">
        <div class="info_item_wrap">
            <div class="info_container_item">         
                <div class="country_selector" (click)="toggleCountry()">
                    <div>
                        <img class="flag_icon_logo" src="assets/icons/united-kingdom-flag.png" alt="English">
                        <P>English</P>
                    </div>
                    <fa-icon [icon]="iconArrowDown"></fa-icon>
                    
                        <div class="country_container" [style.display]="isCountryToggled?'inline':'none'">
                        <div>
                            <img class="flag_icon_logo" src="assets/icons/united-kingdom-flag.png" alt="English">
                            English
                        </div>
                        <div>
                             <img class="flag_icon_logo" src="assets/icons/vietnam-flag.png" alt="VietNam">
                            Vietnamese
                        </div>
                    </div>
                    
                    
                </div>
                |
                <div class="currency_selector" (click)="toggleCurrency()">
                    <p>USD</p>
                    <fa-icon [icon]="iconArrowDown"></fa-icon>
                        <div class="currency_container" [ngStyle]="{
                            'display': isCurrencyToggled?'inline':'none'
                          }">
                        <div>EUR</div>
                        <div>VND</div>
                        <div>USD</div>
                    </div>
                    

                    
                </div>
            </div>

                <div class="info_container_item">
                    <div class="user_selector" (click)="toggleAccount()">
                        <div>
                            <fa-icon [icon]="iconUser"></fa-icon>
                            <p>@if(userInfo)
                                {
                                    {{userInfo?.firstName}}
                                }
                                @else {
                                    My Account
                                }
                                </p>
                        </div>
                        <fa-icon [icon]="iconArrowDown"></fa-icon>             
                            <div class="account_choice" [style.display]="isAccountToggled?'inline':'none'" >
                                <div (click)="onLogOutClick()">
                                    Log out
                                </div>
                                
                            </div>
                        
                    </div>
                    | 
                    <div class="user_wishlist">
                        <fa-icon [icon]="iconHeart"></fa-icon>
                        <p>My Wishlist</p>
                    </div>
                    
                </div>
        </div>
        
    </div>
    <div class="dashboard_navbar_container">
        <div class="dashboard_logo">
            <h2><span>STORE</span> DEMO</h2>
            <h4>ONLINE STORES TEMPLATE</h4>
        </div>
        <div class="dashboard_link_container">
            <a routerLink="/home">Home</a>
            <a routerLink="/collections">Categories</a>
            <a routerLink="/special-offer">Special Offer</a>
            <a routerLink="/about">About Us</a>
        </div>
        <div class="btn_cart" (click)="onCartBtnClick()">
            <div class="btn_cart_logo"><fa-icon [icon]="iconCart"></fa-icon></div>
            <div class="btn_cart_status_display"><b>SHOPPING CART</b>
            <span>@if(cartState.cart$| async; as cart)
                {
                {{totalItemsInCart}} item(s) {{totalPriceInCart | currency: 'USD':'symbol': '1.2-2'}}
                }
                @else 
                {
                    0 item(s) $0.00
                }
                </span></div>
        </div>
    </div>
    <div class ="search_tool_container">
        <div class="categories_selector">
            <div><fa-icon [icon]="iconList"></fa-icon> ALL CATEGORIES</div> <fa-icon [icon]="iconSortDown"></fa-icon>
            <div class="categories_container_displayer">
                <div class="categories_container_item" (click)="onCategoriesClick('beauty')">Beauty</div>
                <div class="categories_container_item" (click)="onCategoriesClick('electronic')">Electronic</div>
                <div class="categories_container_item" (click)="onCategoriesClick('fashion')">Factions</div>
                <div class="categories_container_item" (click)="onCategoriesClick('furniture')">Furniture</div>
                <div class="categories_container_item" (click)="onCategoriesClick('outdoor')">Outdoor</div>
                <div class="more_categories_btn" (click)="onCategoriesClick('')">
                   More Categories
                </div>
            </div>
        </div>
        <div class="dashboard_searchbar">
            <input type="text" placeholder="Enter keywords here...">
            <button type="button"><fa-icon [icon]="iconSearch"></fa-icon></button>
        </div>
    </div>
</header>
