header
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.info_container
{
    color: var(--text_plain_color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid var(--line_color);
    width: 100%;
}

.info_item_wrap
{
    display: flex;
    justify-content: space-between;
    width: var(--config_width);
}
.info_container_item
{
    display: flex;
    gap: 7px;
}

.country_selector, .currency_selector
{
    cursor: pointer;
}

.dashboard_navbar_container 
{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: var(--config_width);
    height: 7rem;
}

.dashboard_navbar_container a
{
    color: var(--text_color);
}

.dashboard_logo 
{
    color: var(--highlight_btn_color);
}

.dashboard_logo span
{
    color: var(--text_color);
}

.dashboard_logo h4
{
    font-size: 10px;
}

.dashboard_link_container
{
    display: flex;
    gap: 20px;
}

.btn_cart
{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_cart:hover
{
    border: 1px solid var(--line_color);
    color: var(--highlight_btn_color);
   
}

.btn_cart:hover .btn_cart_logo
{
    background-color: var(--bg_color);
    color: var(--highlight_btn_color);
}

.btn_cart_logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-color: var(--highlight_btn_color);
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    color: var(--highlight_text_color);
}

.btn_cart_status_display
{
    font-weight: lighter;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
.btn_cart_status_display span
{
    color: var(--text_plain_color);
}



.search_tool_container
{
    display: flex;
    width: var(--config_width);
    justify-content: space-between;
}

.dashboard_searchbar
{
    width: 44rem;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 0;

}

.categories_selector
{
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 0 10px;
    background-color: var(--highlight_btn_color);
    color: var(--highlight_text_color);
}
.dashboard_searchbar input
{
   width: 100%;
   padding: 0 10px;
   border: 1px solid var(--highlight_btn_color);
}

.dashboard_searchbar button
{
    background-color: var(--highlight_btn_color);
    color: var(--highlight_text_color);
    width: 45px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

.dashboard_searchbar button:hover
{
    background-color: var(--btn_color);
    color: var(--highlight_text_color);
}

input:focus
{
    outline: none;
}

a{
    text-decoration: none;
}