<header>
    <div class="info_container">
        <div class="info_container_item">         
            <div class="country_selector">
                <P>English</P>
            </div>
            |
            <div class="currency_selector">
                <p>USD</p>
            </div>
        </div>
        <div class="info_container_item">
            <div>
                <p>My Account</p>
            </div>
            |<p>My Wishlist</p>
        </div>
    </div>
    <div class="dashboard_navbar_container">
        <div class="dashboard_logo">
            <h2><span>STORE</span> DEMO</h2>
            <h4>ONLINE STORES TEMPLATE</h4>
        </div>
        <div class="dashboard_link_container">
            <a>Home</a>
            <a>New Arrival</a>
            <a>Special Offer</a>
            <a>About Us</a>
        </div>
        <div class="btn_cart">
            <div class="btn_cart_logo"><fa-icon [icon]="iconCart"></fa-icon></div>
            <div class="btn_cart_status_display"><b>SHOPPING CART</b>
            <span>item(s) $0.00</span></div>
        </div>
    </div>
    <div class ="search_tool_container">
        <div class="categories_selector">
            <fa-icon [icon]="iconList"></fa-icon> ALL CATEGORIES
        </div>
        <div class="dashboard_searchbar">
            <input type="text" placeholder="Enter keywords here...">
            <button type="button"><fa-icon [icon]="iconSearch"></fa-icon></button>
        </div>
    </div>
</header>
