<div class="main">
    <div class="about">
        <div class="breadcrumb">
            <div class="breadcrumb_wrap">
                <h1>ABOUT US</h1>
                 <p><a routerLink="/home">Home</a> > <span>About Us</span></p>
            </div>
        </div>
        <div class="about_content">
            <div class="about_content_title">
                <p>About Us</p>
            </div>
            <div class="about_store">
                <div class="about_store_content">
                    <div class="about_store_content_title">
                        <h1>Welcome To Shop</h1> <hr>
                    </div>
                    <div class="store_info">
                        <div class="display_store_img">
                            <div class="store_img"></div>
                        </div>
                        <div class="display_store_info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, molestias. Ipsam amet molestiae accusamus at aliquam officiis, quaerat temporibus quia modi cum? Delectus quidem beatae non minus commodi facilis maiores!</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At exercitationem expedita deserunt illo delectus natus nihil quaerat doloremque cum iure aliquid voluptas, facere ex repellendus quia odit architecto impedit fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, numquam!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident.</p>
                        </div>
                    </div>
                </div>
                <div class="store_info_sidebar">
                     <div class="about_store_content_title">
                         <h1>Why Chosse Us</h1><hr>
                    </div>
                    <div class="store_info_sidebar_links_container">
                        <ul>
                            <li>
                                <div>
                                    <a>Shipping & Returns</a>
                                </div>
                                <hr>
                            </li>
                            <li>
                                <div>
                                    <a>Secure Shopping</a>
                                </div>
                                <hr>
                            </li>
                            <li>
                                <div>
                                    <a>International Shipping</a>
                                </div>
                                <hr>
                            </li>
                            <li>
                                <div>
                                    <a>Affiliates</a>
                                </div>
                                <hr>
                            </li>
                            <li>
                                <div>
                                    <a>Group Sales</a>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about_member">
                <div class="about_member_content_title">
                    <h1>Our Member</h1>
                    <hr>
                </div>
                <div class="about_member_content_subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.to voluptatibus voluptate itaque! Blanditiis.<br>
                    Lorem ipsum dolor sit amet consectetur.</div>
                <div class="member_info_container">
                    <div class="member_info_displayer">
                        <div class="display_member_img"></div>
                        <div class="display_member_info">
                            <h3>Member Name</h3>
                            <span>Member Role</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="customer_messenger">
                <div class="customer_messenger_title">Happy customer says</div>
                <div class="customer_messenger_box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Officiis dicta molestiae deleniti voluptas odio dolores blanditiis
                          dolore sequi esse quas nulla ipsa quia cumque at eligendi quis ea rerum, doloribus nobis debitis error velit architecto. Laborum in at iure reprehenderit!</p>
                    <h3>- Customer Name - <span>Customer jod</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
