<div class="main">
    <div class="products">
        <div class="breadcrumb">
            <div class="breadcrumb_wrap">
                <h1>{{product?.title?.toUpperCase()}}</h1>
                 <p><a routerLink="/home">Home</a> > <span>Product name</span></p>
            </div>
        </div>
        <div class="products_content">
            <div class="product_content_wrap">
                <div class="products_content_sidebar">
                    <div class="services_sidebar">
                        <div class="service_choices_cointainer">
                            <div class="service_choice_item">
                                <div>
                                    <strong>FREE DELIVERY</strong>
                                    <span>From $59.89</span>
                                </div>
                            </div>
                            <div class="service_choice_item">
                                <div>
                                    <strong>SUPPORT 24/7</strong>
                                    <span>Online 24 hours</span>
                                </div>
                            </div>
                            <div class="service_choice_item">
                                <div>
                                    <strong>FREE RETURN</strong>
                                    <span>365 a days</span>
                                </div>
                            </div>
                        </div>
                        <div class="payment_method">
                            <div>
                                <strong>PAYMENT METHOD</strong>
                                <span>Secure payment</span>
                            </div>
                        </div>
                    </div>
                    <div class="best_sellers_sidebar">
                        <div class="best_sellers_sidebar_header">
                            <h3>BEST SELLERS</h3>
                        </div>
                        <div class="best_sellers_container">
                            @for (item of bestSellerProductList; track $index) 
                            {
                            <div class="best_sellers_item" (click)="onProductClick(item.id, item.title, item.category)">
                                <div class="best_seller_info">
                                    <p>{{item.title}} </p>
                                    <strong>{{item.price-item.price*item.discountPercentage/100 | currency: 'USD':'symbol':'1.2-2'}}</strong>
                                    <span class="original_price">{{item.price|currency:'USD':'symbol':'1.2-2'}}</span>
                                </div>
                                <img class="best_seller_img" [src]="item.images[0]" [alt]="item.title">
                            </div>
                        }

                        </div>
                    </div>
                    <div class="display_ad_sidebar">Ad</div>
                    <div class="product_tags_sidebar">
                        <div class="product_tags_sidebar_header">
                            <h3>PRODUCT TAGS</h3>
                        </div>
                        <div class="product_tags_container">
                            @for (tag of product?.tags; track $index) {
                                <p>{{tag}}</p>
                            }
                        </div>

                    </div>
                </div>
                <div class="products_main_content">
                    <div class="product_info_displayer">
                        <div class="display_product_imgs">
                            <div class="product_imgs_area_container">
                                <div class="main_img_product_display_area"  [ngStyle]="{'background-image': 'url('+ productImg +')', 'background-size': '100%'}" ></div>
                                <div class="btn_display_img_container">
                                    @for (img of product?.images; track $index) {
                                         <div class="btn_display_img_container_items"  [ngStyle]="{'background-image': 'url('+ img +')', 'background-size': '100%'}"
                                         (click)="onImgClick(img)" ></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_status">
                            <div class="display_product_status">
                                <h3>{{product?.title}}</h3>
                                <p>AVAILABILITY: <span>{{product?.availabilityStatus?.toUpperCase()}}</span></p>
                                <p>PRODUCT TUPEl: <span>AMAZON</span></p>
                                <strong>
                                    @if (product)
                                    {
                                        {{product.price - product.price*product.discountPercentage/100 |currency:'USD':'symbol':'1.2-2'}}
                                    }
                                <span class="original_price">{{product?.price|currency:'USD':'symbol':'1.2-2'}}</span></strong>
                            </div>
                            <p>{{product?.description}}</p>
                            <div class="product_quantity_config">
                                <div class="product_quantity_container">
                                    <strong>QTY:</strong>
                                    <input type="number" value= {{quantity}}>
                                </div>
                                    <b>SUBTOTAL:  <span>@if(product)
                                        {
                                            {{(product.price - product.price*product.discountPercentage/100)*quantity |currency:'USD':'symbol':'1.2-2'}}
                                        }
                                    </span></b>
                            </div>

                            <div class="user_choices_container">
                                <div class="btn_add_to_card">ADD TO CART</div>
                                <div class="btn_buy">BUY IT NOW</div>
                                <div class="btn_wishlist">Wishlist</div>
                            </div>
                            <div class="services_container">
                                <div class="questtion">
                                    <p><a>Have a Question?</a><br>
                                    Be the first ask a about it</p>
                                </div>
                                <div class="product_subinfos_container">
                                    <div>
                                        <b>CATEGORY:</b>
                                        <span>@if(product)
                                            {
                                            {{upperFirstChartEachWord(product.category)}}
                                            }</span>
                                    </div>
                                    <div>
                                        <b>TAGS:</b>
                                        <span>@for (tag of product?.tags; track $index) {
                                            {{upperFirstChartEachWord(tag)}} 
                                        }</span>
                                    </div>
                                </div>
                                <div class="subpayment_services_container">
                                    <b> Guaranteed safe checkout:</b>
                                    <div>
                                        <a>Master Cards</a>
                                        <a>VISA</a>
                                        <a>PayPal</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="product_details_review_content">
                        <div class="product_tabbar">
                            <div class="product_tabbar_item" [ngClass]="{'product_tabbar_item_toggled': isDetailsToggled}"
                            (click)="onTabbarToggle('details')">
                                DETAILS
                            </div>
                            <div class="product_tabbar_item" [ngClass]="{'product_tabbar_item_toggled': isReviewToggled}"
                            (click)="onTabbarToggle('reviews')">
                                REVIEWS
                            </div>
                        </div>
                        <div class="product_details_review_display" >
                            @if(isDetailsToggled)
                            {
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque deserunt nulla id. Dicta dignissimos doloremque fugiat, corporis ipsum architecto eius,
                                     quae quas voluptates nostrum earum voluptatem. Fuga perspiciatis recusandae similique.</p>
                                <b>Lorem ipsum.</b>
                            }
                            @if(isReviewToggled)
                            {
                                @for (review of product?.reviews; track $index) {

                                }
                                <div class="reviews_container">
                                    @for (review of product?.reviews; track $index) 
                                    {
                                        <div class="review_displayer">
                                            <div class="review_header">
                                                <span class="reviewer-name">{{review.reviewerName}}</span>
                                                <span class="review_score">{{review.rating}}</span>
                                            </div>
                                            <div class="review_content">
                                                <p>{{review.comment}}</p>
                                            </div>
                                            <div class="review_footer">
                                                -{{review.date}}-
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                            }
                        </div>
                    </div>

                    <div class="related_products_content">
                        <div class="related_products_header">
                            <h5>RELATED PRODUCTS</h5>
                        </div>
                        <div class="related_products_container">
                            @for (item of productsList.slice(0,3); track $index) {
                            <div class="related_product_items" (click)="onProductClick(item.id, item.title, item.category)">
                                <img class="display_related_product_img" [src]="item.images[0]" [alt]="item.title">
                                <p>{{item?.title}}</p>
                                <b>{{item.price - item.price*item.discountPercentage/100 | currency: 'USD': 'symbol': '1.2-2'}} 
                                    <span class="original_price">
                                       {{item.price | currency: 'USD': 'symbol': '1.2-2'}}</span></b>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
