
     <div class="content">
        <form class="login_form" >
            <h1>Login</h1>
            <table>
                <tbody>
                    <tr>
                    <td><div class="login_form_item">
                        <input type="text"  required>
                        <label>Username</label>
                    </div>
                    </td>
                </tr>
                  <tr>
                    <td><div class="login_form_item">
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><div class="forgot_password_text">
                        <a href="">Forgot password?</a>
                    </div></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn_login" value="Login">
                    </td>
                </tr>
                </tbody>
                
            </table>

            <div class="sign_up_social">
                <span>Or Sign Up Using</span>
                <div class="social-links-container">
                    <a href=""><img class="social_icon" src="assets/icons/facebook_logo.png" alt="facebook"></a>
                    <a href=""><img class="social_icon" src="assets/icons/google_logo.png" alt="google"></a>
                    <a href=""><img class="social_icon" src="assets/icons/X_logo.png" alt="X"></a>
                </div>
            </div>
            <div class="sign_up_bottom">
                <p>Have not a account yet</p>
                <button class="btn_sign_up" type="button">SIGN UP</button>
            </div>
        </form>
    </div>

  
