<div class="main">
    <div class="categories">
        <div class="breadcrumb">
            <div class="breadcrumb_wrap">
                <h1>COLLECTIONS</h1>
                 <p><a routerLink="/home">Home</a> > <span>Collections</span></p>
            </div>
        </div>
        <div class="categories_content">
            <div class="categories_titles">
                Collections
            </div>
            <div class="categories_tag_container">
                <div class="category_tag_displayer">
                    <img class="category_img">
                    <strong>BEAUTY</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img">
                    <strong>ELECTRONIC</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img">
                    <strong>FACTIONS</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img">
                    <strong>FURNITURE</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>

                <div class="category_tag_displayer">
                    <img class="category_img">
                    <strong>OUTDOOR</strong> 
                    <p>- product_number -</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum numquam iste!</span>
                </div>
            </div>
        </div>
    </div>
</div>
