<div class="main">
    <div class="cart">
        <div class="cart_content_title">
            <h1>Your Cart</h1>
        </div>
        <table class="display_product_in_cart">
            <tr>
                <th colspan="2">PRODUCT</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td><div class="display_product_img_in_cart"></div></td>
                <td><div><p class="display_product_name_in_cart">Product name</p>
                    <button>Remove</button>
                </div></td>
                <td><b>$00.00</b></td>
                <td><input type="number" value="1"></td>
                <td><b>$00.00</b></td>
            </tr>
        </table>
        <hr>
        <div class="cart_footer">
            <div class="cart_footer_content_left">
                <strong>ADD A NOTE TO YOUR ORDER</strong>
                <textarea cols="50" rows="5" ></textarea>
            </div>
        </div>
         <div class="cart_footer_content_right">
            <div class="subtotal">
                <p>Subtotal</p> <strong>$374.00</strong>
            </div>
            <span>Shipping & taxe calculated at check out</span>
            <div class="cart_choices_container">
                <button type="button">Continue shopping</button>
                <button type="button">Update</button>
                <button type="button">Check out</button>
            </div>
         </div>
    </div>
</div>
