<div class="main">
    <div class="cart">
        <div class="cart_content_wrap">
                <div class="cart_content_title">
                    Your Cart
                </div>
                <div class="product_displayer_content_wrap">
                        <table class="display_product_in_cart">
                    <thead>
                         <tr>
                                <th colspan="2">PRODUCT</th>
                                <th>PRICE</th>
                                <th>
                                    <span class="quantity_products_tagname">QUANTITY</span>
                                </th>
                                <th>
                                    <span class="total_products_tagname">TOTAL</span>
                                </th>
                         </tr>
                    </thead>
        
                    <tbody>
                        @for (product of userCart?.products; track product.id) {
                        <tr>
                            <td>
                                <div class="product_img_in_cart_container">
                                    <img class="display_product_img" [src]=product.thumbnail [alt]=product.title>
                                </div>
                            </td>
                            <td>
                                <div class="display_product_name_in_cart">
                                    <p>{{product.title}}</p>
                                    <button>Remove</button>
                                </div>
                            </td>
                            <td>
                                <b>${{product.price}}</b>
                            </td>
                            <td>
                                <input class="input_quantity_products" type="number" [value]=product.quantity>
                            </td>
                            <td>
                                <b class="total_products_value_displayer">${{product.total}}</b>
                            </td>
                        </tr>
                    }
                    </tbody>
        </table>
        <hr>
                </div>
            
        <div class="cart_footer">
            <div class="cart_footer_content_left">
                <strong>ADD A NOTE TO YOUR ORDER</strong>
                <textarea cols="50" rows="5" ></textarea>
            </div>
       
         <div class="cart_footer_content_right">
            <div class="subtotal">
                <p>Subtotal <strong>${{userCart?.total}}</strong> </p>
                <span>Shipping & taxe calculated at check out</span>
            </div>
            <div class="cart_choices_container">
                <button type="button">Continue shopping</button>
                <button type="button">Update</button>
                <button type="button">Check out</button>
            </div>
         </div>
        </div>
    </div>
</div>
