<footer>
    <div class="footer_header">
        <p>Trade Alert - Delivering the latest product trends and industry news straight to your inbox.</p>
        <form class="frm_mail">
            <input type="email" placeholder="emailaddress">
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <div class="footer_content">
        <div class="footer_content_item">
            <strong>CONTACT US</strong>
            
            <div>
                <b>Address: Lorem ipsum dolor sit, amet consectetur adipisicing elit.</b>
                <b>Email: exemble@gmail.com</b>
                <b>Phone: 0123456789</b>
            </div>
        </div>
        <div class="footer_content_item">
            <strong>ABOUT MARKET</strong>
            <div></div>
        </div>
        <div class="footer_content_item">
            <strong> CUSTOMER SERVICE</strong>
            <div></div>
        </div>
        <div class="footer_content_item">
            <strong>PAYMENT & SHIPPING</strong>
            <div>
                <a>Contact Us</a>
            </div>
        </div>
    </div>
    <div class="footer_footer">
        <div class="social_paymnent_container">
            <div class="download_app_opt">
                Download APP: <div>
                    <p>Google Play</p>
                    <p>ISO</p>
                    </div>
            </div>
            <div class="payment_link_container">
                <a>VISA</a>
                <a>AMEX</a>
                <a>PayPal</a>
                <a>Discover</a>
            </div>
            <div class="social-links-container">
                <a>facebook</a>
                <a>twitter</a>
                <a>telegram</a>
            </div>
        </div>
        <div class="end_line">
            @Copyright Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur, quia debitis, animi, ea iste nulla corrupti est vel provident fugit neque unde vitae inventore non commodi? Minima, accusamus? Et!
        </div>
    </div>
</footer>
