<footer>
    <div class="footer_header">
        <div class="footer_header_content_wrap">
            <p>Trade Alert - Delivering the latest product trends and industry news straight to your inbox.</p>
            <form class="frm_mail">
                <input type="email" placeholder="Email address">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>


    <div class="footer_content">
        <div class="footer_content_item">
            <strong>CONTACT US</strong>
            
            <div>
                <span>Address:  asjs olor sit olor sit, olor sit Id consectetur, quia debitis</span>
                <span>Email: exemble@gmail.com</span>
                <span>Phone: 0123456789</span>
            </div>
        </div>
        <div class="footer_content_item">
            <strong>ABOUT MARKET</strong>
            <div>
                <a>About Us</a>
                <a>MaretReview</a>
                <a>Term Of Use</a>
            </div>
        </div>
        <div class="footer_content_item">
            <strong> CUSTOMER SERVICE</strong>
            <div>
                <a>New York</a>
                <a>London</a>
                <a>Chicago</a>
            </div>
        </div>
        <div class="footer_content_item">
            <strong>PAYMENT & SHIPPING</strong>
            <div>
                <a>Contact Us</a>
                <a>About Store</a>
                <a>Latest New</a>
                <a>Our Sitemap</a>
            </div>
        </div>
    </div>
    <div class="footer_footer">
        <div class="social_paymnent_container">
            <div class="social_paymnent_links_container">
                <span> Download APP: </span>
                    <div>
                        <p>Google Play</p>
                        <p>ISO</p>
                    </div>
            </div>
            <div class="social_paymnent_links_container">
                <div>
                    <a>VISA</a>
                    <a>AMEX</a>
                    <a>PayPal</a>
                    <a>Discover</a>
                </div>
            </div>
            <div class="social_paymnent_links_container">
                <span> Follow us </span>
                <div>
                    <a>facebook</a>
                    <a>twitter</a>
                    <a>telegram</a>
                </div>
                
            </div>
        </div>
        <div class="end_line">
            @Copyright Lorem ipsum dolor sit amet consectetur adipisicing elit. !Id consectetur, quia debitis, animi, ea iste nulla corrupti est vel provident fugit neque unde vitae inventore non commodi? Minima, accusamus? Et
        </div>
    </div>
</footer>
