<div class="main">
    <div class="home">
        <div class="home_header">
            <div class="home_header_item_wrap">
                <div class="home_header_slide">
                    <img  src="assets/imgs/home_ad.jpg">
                </div>
                <div class="home_header_navbar">
                    <div><fa-icon [icon]="iconList.iconTruck"></fa-icon> SHIPPING WORLDWIDE</div>
                    <div><fa-icon [icon]="iconList.iconMoney"></fa-icon>  MONEY BACK GUARANTEE</div>
                    <div><fa-icon [icon]="iconList.iconUmberlla"></fa-icon> SUPPORT 24/24</div>
                </div>
            </div>
        </div>
        
        <div class="home_content">
            <div class="deal_of_the_days_content">
                <div class="deal_of_the_days_content_header">
                    <p class="content_title">DEAL OF THE DAY<br>
                    <span class="content_sudtitle">Instant Dismount on instant Purchases</span></p>
                </div>
                <div class="deal_of_the_days_products">
                    @for (product of dealOfTheDayProductList; track product.id) {
                    <div class="deal_of_the_days_products_display">
                        <div class="deal_of_the_days_product_img_area">
                            <img class="product_img_display" [alt]=product.title [src]=product.images[0]>
                        </div>
                        <div class="deal_of_the_days_product_info">
                            <h3>{{product.title}}</h3>
                            <p class="product_info">{{product.description}}</p>
                            <p><strong class="product_price">${{(product.price - product.discountPercentage/100*product.price) | number:'1.2-2' }}  <span class="original_price">${{product.price}}</span></strong></p>
                            <div class="user_choice_container">
                                <button type="button" (click)="onCartClick(product.id)">
                                    <fa-icon [icon]="iconList.iconCart"></fa-icon>ADD TO CART
                                </button>
                                <div class="wishlist_btn">
                                    <fa-icon [icon]="iconList.iconHeart"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                    <div></div>
                </div>
                <div class="deal_of_the_days_products_pagination">
                </div>
            </div>
            <div class="sale_ad_imgs_container">
                <div class="sale_ad_imgs_item">  
                    <img  src="assets/imgs/ad_img_1.jpg">
                </div>
                <div class="sale_ad_imgs_item">
                    <img src="assets/imgs/ad_img_2.jpg">
                </div>
                <div class="sale_ad_imgs_item">
                    <img  src="assets/imgs/ad_img_3.jpg">
                </div>
            </div>
            <div class="hot_products_container">
                <div class="hot_products_item">
                    <div class="hot_product_item_header">
                        <p class="content_title">FEATURED PRODUCTS<br>
                        <span class="content_sudtitle">Instant Dismount on instant Purchases</span>
                        </p>
                    </div>
                    <div class="hot_product_display">
                        @for (product of featuredProductList; track product.id) {
                            <div class="hot_product_display_item">
                                <img class="product_img_display" [src] = product.images[0] [alt]=product.title>
                                <p>{{product.title}}</p>
                               <p><strong class="product_price">${{(product.price - product.discountPercentage/100*product.price) | number:'1.2-2' }}  <span class="original_price">${{product.price}}</span></strong></p>
                                <div class="hot_product_user_choice">
                                    <div class="add_to_cart" (click)="onCartClick(product.id)"><fa-icon [icon]="iconList.iconCart"></fa-icon></div>
                                    <div class="add_to_wishlist"><fa-icon [icon]="iconList.iconHeart"></fa-icon></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>


                <div class="hot_products_item">
                    <div class="hot_product_item_header">
                         <p class="content_title">BEST SELLER<br>
                        <span class="content_sudtitle">Instant Dismount on instant Purchases</span>
                        </p>
                    </div>
                    <div class="hot_product_display">
                        @for (product of bestSellerProductList; track product.id) {
                            <div class="hot_product_display_item">
                                <img class="product_img_display" [src]=product.images[0] [alt]=product.title>
                                <p>{{product.title}}</p>
                                <p><strong class="product_price">${{(product.price - product.discountPercentage/100*product.price) | number:'1.2-2' }}  <span class="original_price">${{product.price}}</span></strong></p>
                                <div class="hot_product_user_choice" >
                                    <div class="add_to_cart" (click)="onCartClick(product.id)" ><fa-icon [icon]="iconList.iconCart"></fa-icon></div>
                                    <div class="add_to_wishlist"><fa-icon [icon]="iconList.iconHeart"></fa-icon></div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="categories_nav_bar">
                <div class="categories_nav_bar_item">
                    <fa-icon [icon]="iconList.iconSofa"></fa-icon><p>FURNITURE</p>
                </div>
                <div class="categories_nav_bar_item">
                    <fa-icon [icon]="iconList.iconShirt" ></fa-icon><p>FASION</p>
                </div>
                <div class="categories_nav_bar_item">
                     <fa-icon [icon]="iconList.iconTree"></fa-icon><p>OUTDOOR</p>
                </div>
                <div class="categories_nav_bar_item">
                     <fa-icon [icon]="iconList.iconTV" ></fa-icon><p>ACCESSORIES</p>
                </div>
            </div>
            <div class="new_product_conduct_container">
                
                <div class="new_product_conduct_container_header">
                    <p class="content_title">NEW PRODUCTS<br>
                    <span class="content_sudtitle">Instant Dismount on instant Purchases</span>
                </div>
                <div class="new_product_displayer">
                    @for (product of newestProductList; track product.id) {
                    <div class="new_product_displayer_item">
                        <img class="product_img_display" [src]=product.images[0]  [alt]=product.title>
                        <div class="display_product_info">
                            <p>{{product.title}}</p>
                            <strong class="product_price">${{(product.price - product.discountPercentage/100*product.price) | number:'1.2-2' }}</strong>
                            <span class="original_price">${{product.price}}</span>
                            <div class="user_choice_container">
                                <button type="button" (click)="onCartClick(product.id)">
                                    <fa-icon [icon]="iconList.iconCart"></fa-icon>  Add to cart
                                </button>
                                <div class="wishlist_btn">
                                    <fa-icon [icon]="iconList.iconHeart"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>
