<div class="main">
    <div class="collections">
         <div class="breadcrumb">
            <div class="breadcrumb_wrap">
                <h1>CATEGORY NAME</h1>
                <p><a routerLink="/home">Home</a> > <span>Category name</span></p>
            </div>
        </div>
        <div class="collections_sidebar">
            <div class="shop_by_collections_sibebar">
                <div class="shop_by_collections_sibebar_header">
                    <h4>SHOP BY</h4>
                </div>
                <div class ="shop_by_collections_sibebar_content">
                    <div class="categories_collections_sibebar">
                        <div> <strong>CATEGORIES</strong> </div>
                        <div>Beauty</div>
                        <div>Electronic</div>
                        <div>Fashion</div>
                        <div>Furniture</div>
                        <div>Outdoor</div>
                    </div>
                    <div class="price_filter_collections_sibebar">
                        <div class="price_filter_collections_sibebar_header">
                            <strong>PRICE</strong>
                        </div>
                        <div class="price_filter_collections_sibebar_choices">

                        </div>
                    </div>
                    <div class="color_filter_collections_sibebar">
                        <div class="color_filter_collections_sibebar_header">
                            <strong>COLOR </strong>
                        </div>

                        <div></div>div>
                        
                    </div>
                    <div class="size_filter_collections_sibebar">
                    </div>
                </div>
            </div>
            <div class="best_seller_collections_sibebar"></div>
            <div class="custom_services_collections_sibebar"></div>
            <img class="display_ad_collections_sidebar" [src]="" [alt]="">

        </div>
        <div class="collection_main_content">
            <div class="collection_header"></div>
            <div class="collection_product_displayer_container"></div>
        </div>
    </div>
</div>